body{
    background-color:gray;
}

main{
    display:flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.containerH{
    height: 15vw;
    /* background-color: aquamarine; */
    text-align: center;
    padding: 50px;
}

.containerV{
    display: flex;
    height: 85vw;

}

.containerGalaxy{
   /*  background-color: rgb(100, 100, 189); */
    text-align: center;
    padding: 2rem;
}

.containerIpone{
    text-align: center;
    padding: 2rem;
}

#galaxyImg{
    height: 20rem;
}

#iphoneImg{
    height: 20rem;
}

table{
    /* background-color: aliceblue; */
    font-size: 15px;
    text-align: left;
}

table th, table td{
    padding: 12px 15px;
}
